# dataset of gender_submission

In [66]:
import pandas as pd
import numpy as np
# Load the dataset
df = pd.read_csv("C:/Users/patha/OneDrive/Desktop/future intern/titanic/gender_submission.csv")

In [4]:
# Handling missing values
# Drop rows with any missing values
df_cleaned = df.dropna()

In [5]:
# for numerical columns filing missing value median
df_filled = df.fillna(df.median())

In [6]:
#Handling outliers by z-score
from scipy import stats
import numpy as np

In [7]:
# removes rows where Z-score > 3
z_scores = np.abs(stats.zscore(df_cleaned.select_dtypes(include=[np.number])))
df_no_outliers = df_cleaned[(z_scores < 3).all(axis=1)]

In [8]:
# use the IQR method for outliers
Q1 = df_cleaned.quantile(0.25)
Q3 = df_cleaned.quantile(0.75)
IQR = Q3 - Q1

In [9]:
# Filtering out rows that fall outside 1.5*IQR
df_no_outliers_iqr = df_cleaned[~((df_cleaned < (Q1 - 1.5 * IQR)) |(df_cleaned > (Q3 + 1.5 * IQR))).any(axis=1)]

In [67]:
#Output the cleaned data
df_no_outliers_iqr.to_csv('C:/Users/patha/OneDrive/Desktop/future intern/Clean data/cleaned_dataset_gender.csv', index=False)
# Return the cleaned dataframe's info and head for review
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

(None,
    PassengerId  Survived
 0          892         0
 1          893         1
 2          894         0
 3          895         0
 4          896         1)

## cleaning dataset test

In [11]:
# Load the dataset
df = pd.read_csv("C:/Users/patha/OneDrive/Desktop/future intern/titanic/test.csv")

In [12]:
#filling missing age with median
df['Age'].fillna(df['Age'].median(), inplace=True)

In [13]:
#filling missing fare with median
df['Fare'].fillna(df['Fare'].median(), inplace=True)

In [14]:
#drop coloumn
df.drop('Cabin', axis=1, inplace=True)

In [16]:
# filling missing value with mode
if df['Embarked'].isnull().sum() > 0:
    df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [26]:
# Selecting only numeric columns
numeric_columns = df.select_dtypes(include=['number'])
# Handling outliers using IQR
Q1 = numeric_columns.quantile(0.25)
Q3 = numeric_columns.quantile(0.75)
IQR = Q3 - Q1
# Removing outliers
df_cleaned = df[~((numeric_columns < (Q1 - 1.5 * IQR)) | (numeric_columns > (Q3 + 1.5 * IQR))).any(axis=1)]

In [68]:
# Flter out rows with Age and Fare outliers
df = df[~((df['Age'] < (Q1['Age'] - 1.5 * IQR['Age'])) | (df['Age'] > (Q3['Age'] + 1.5 * IQR['Age'])))]
df = df[~((df['Fare'] < (Q1['Fare'] - 1.5 * IQR['Fare'])) | (df['Fare'] > (Q3['Fare'] + 1.5 * IQR['Fare'])))]

KeyError: 'Age'

In [29]:
# Encode Sex and Embarked columns using one-hot encoding
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)

In [37]:
# Check for any duplicate rows
df.drop_duplicates(inplace=True)
# Save the cleaned dataset
df.to_csv("C:/Users/patha/OneDrive/Desktop/future intern/Clean data/cleaned_data_test.csv", index=False)

In [69]:
# Return the cleaned dataframe's info and head for review
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

(None,
    PassengerId  Survived
 0          892         0
 1          893         1
 2          894         0
 3          895         0
 4          896         1)

### Cleaning dataset train

In [61]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [41]:
# Load dataset
file_path = "C:/Users/patha/OneDrive/Desktop/future intern/titanic/train.csv" 
# Path to your dataset
df = pd.read_csv(file_path)

In [42]:
#Display information about the dataset
print("Dataset info:\n")
df.info()

Dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [43]:
# Display the first few rows of the dataset
print("First few rows of the dataset:\n", df.head())

First few rows of the dataset:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [44]:
# Check for missing values
print("Missing values:\n", df.isnull().sum())

Missing values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [54]:
# Handle missing values
# Drop rows where more than 50% of data is missing
df = df.dropna(thresh=df.shape[1]*0.5, axis=0)

# Fill missing values for numerical columns with the median
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].median())

# Fill missing values for categorical columns with the mode
categorical_columns = df.select_dtypes(include=['object']).columns
for column in categorical_columns:
    df[column].fillna(df[column].mode()[0], inplace=True)
    
print("Missing values after cleaning:\n", df.isnull().sum())

Missing values after cleaning:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [58]:
#remove outliers based on IQR
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Apply to numerical columns
for col in df.select_dtypes(include=['float64', 'int64']).columns:
    df = remove_outliers(df, col)

# Apply to numerical columns
for col in df.select_dtypes(include=['float64', 'int64']).columns:
    df = remove_outliers(df, col)

print("Data after outlier removal:\n", df.describe())

Data after outlier removal:
        PassengerId  Survived  Pclass         Age  SibSp  Parch        Fare
count   134.000000     134.0   134.0  134.000000  134.0  134.0  134.000000
mean    468.537313       0.0     3.0   26.212687    0.0    0.0    7.892715
std     265.223063       0.0     0.0    4.628847    0.0    0.0    0.161627
min       5.000000       0.0     3.0   14.000000    0.0    0.0    7.495800
25%     238.750000       0.0     3.0   22.000000    0.0    0.0    7.775000
50%     497.500000       0.0     3.0   28.000000    0.0    0.0    7.895800
75%     680.000000       0.0     3.0   28.000000    0.0    0.0    8.050000
max     891.000000       0.0     3.0   36.000000    0.0    0.0    8.458300

In [60]:
# Convert categorical variables into indicator variables
df = pd.get_dummies(df, drop_first=True)
print("Data after encoding categorical variables:\n", df.head())

Data after encoding categorical variables:
     PassengerId  Survived  Pclass   Age  SibSp  Parch    Fare  \
4             5         0       3  35.0      0      0  8.0500
5             6         0       3  28.0      0      0  8.4583
12           13         0       3  20.0      0      0  8.0500
14           15         0       3  14.0      0      0  7.8542
29           30         0       3  28.0      0      0  7.8958

    Name_Alexander, Mr. William  Name_Alhomaki, Mr. Ilmari Rudolf  \
4                         False                             False
5                         False                             False
12                        False                             False
14                        False                             False
29                        False                             False

    Name_Allen, Mr. William Henry  ...  Ticket_STON/O 2. 3101280  \
4                            True  ...                     False
5                           False  ...                     False
12                          False  ...                     False
14                          False  ...                     False
29                          False  ...                     False

    Ticket_STON/O 2. 3101292  Ticket_STON/O 2. 3101293  \
4                      False                     False
5                      False                     False
12                     False                     False
14                     False                     False
29                     False                     False

    Ticket_STON/O 2. 3101294  Ticket_STON/O2. 3101290  Ticket_W./C. 6609  \
4                      False                    False              False
5                      False                    False              False
12                     False                    False              False
14                     False                    False              False
29                     False                    False              False

    Cabin_F G73  Cabin_F38  Embarked_Q  Embarked_S
4         False      False       False        True
5         False      False        True       False
12        False      False       False        True
14        False      False       False        True
29        False      False       False        True

[5 rows x 278 columns]

In [63]:
# Scaling numerical features
scaler = StandardScaler()
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])
print("Data after scaling:\n", df.head())

Data after scaling:
     PassengerId  Survived  Pclass       Age  SibSp  Parch      Fare  \
4     -1.754284       0.0     0.0  1.905504    0.0    0.0  0.976787
5     -1.750500       0.0     0.0  0.387574    0.0    0.0  3.512453
12    -1.724008       0.0     0.0 -1.347203    0.0    0.0  0.976787
14    -1.716439       0.0     0.0 -2.648286    0.0    0.0 -0.239189
29    -1.659670       0.0     0.0  0.387574    0.0    0.0  0.019159

    Name_Alexander, Mr. William  Name_Alhomaki, Mr. Ilmari Rudolf  \
4                         False                             False
5                         False                             False
12                        False                             False
14                        False                             False
29                        False                             False

    Name_Allen, Mr. William Henry  ...  Ticket_STON/O 2. 3101280  \
4                            True  ...                     False
5                           False  ...                     False
12                          False  ...                     False
14                          False  ...                     False
29                          False  ...                     False

    Ticket_STON/O 2. 3101292  Ticket_STON/O 2. 3101293  \
4                      False                     False
5                      False                     False
12                     False                     False
14                     False                     False
29                     False                     False

    Ticket_STON/O 2. 3101294  Ticket_STON/O2. 3101290  Ticket_W./C. 6609  \
4                      False                    False              False
5                      False                    False              False
12                     False                    False              False
14                     False                    False              False
29                     False                    False              False

    Cabin_F G73  Cabin_F38  Embarked_Q  Embarked_S
4         False      False       False        True
5         False      False        True       False
12        False      False       False        True
14        False      False       False        True
29        False      False       False        True

[5 rows x 278 columns]

In [65]:
# Save the cleaned dataset to a new file
cleaned_file_path = 'C:/Users/patha/OneDrive/Desktop/future intern/Clean data/cleaned_train.csv'
df.to_csv(cleaned_file_path, index=False)
print(f"Cleaned dataset saved to: {cleaned_file_path}")

Cleaned dataset saved to: C:/Users/patha/OneDrive/Desktop/future intern/Clean data/cleaned_train.csv